<div class="bg-white sm:shadow mx-auto sm:mt-8 sm:mb-3 py-6 px-10 sm:w-8/12 sm:rounded">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"sm:w-4/5 w-full" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
