<div class="container">
  <div class="container_top">
    <div class="created_at">
      <%= @diary.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </div>
    <div class="private_flag">
      <% if @diary.private_flag == true %>
        <p>非公開</p>
      <% else %>
        <p>公開</p>
      <% end %>
    </div>
  </div>
  <div class="photo">
    <% if @diary.photo? %>
      <%= image_tag @diary.photo.url %>
    <% end %>
  </div>
  <div class="diary">
    <div class="english_diary">
      <%= @diary.english_diary %>
    </div>
    <% if @diary.japanese_diary? %>
      <div class="japanese_diary">
        <%= @diary.japanese_diary %>
      </div>
    <% end %>
  </div>
  <div class="link">
    <%= link_to "編集", edit_diary_path(@diary.id) %>
    <%= button_to "削除", diary_path(@diary.id), { method: :delete, data: { confirm: "本当に削除しますか？" }, class: "diary_destroy_button" } %>
  </div>
</div>
