<div class="mb-24 index_container">
  <h2 class="font-semibold text-center my-6"><%= current_user.username %>さんの単語帳</h2>
  <div class="diaries">
    <% @words.each do |word| %>
      <div class="bg-white shadow mx-auto sm:my-8 mb-4 p-6 sm:w-8/12 sm:rounded">
        <div class="mb-3 container_top">
          <div class="created_at">
            <%= word.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </div>
        </div>
        <div class="word">
          <div class="flex mb-2">
            <p class="text-slate-600 px-1 mr-3 bg-red-200 rounded-full bold font-semibold">日</p>
            <p><%= word.japanese_word %></p>
          </div>
        </div>
        <div class="flex mb-3">
          <p class="text-slate-600 px-1 mr-3 bg-sky-200 rounded-full font-semibold">英</p>
          <p><%= word.english_word %></p>
        </div>
        <% if word.memo.present? %>
          <div class="flex pt-3 border-t">
            <p class="text-slate-600 inline px-1 mr-3 bg-yellow-100 rounded font-semibold">メモ</p>
            <p><%= word.memo %></p>
          </div>
        <% end %>
        <div class="link">
          <%#= link_to "編集", edit_word_path(word.id) %>
        </div>
        <div class="link text-end">
          <%= link_to "日記へ", diary_path(id: word.diary_id), class:"text-white px-3 py-1.5 bg-gray-300 hover:bg-gray-400 hover:text-white rounded" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
