<div class="index_container">
  <h2>日記一覧</h2>
  <div class="diaries">
    <% @diaries.each do |diary| %>
      <div class="shadow container">
        <div class="container_top">
          <% if diary.user.avatar? %>
            <div class="avatar">
              <%= image_tag diary.user.avatar.url %>
            </div>
          <% end %>
          <div class="username">
            <%= diary.user.username %>
          </div>
          <div class="created_at">
            <%= diary.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </div>
          <div class="private_flag">
            <% if diary.private_flag == true %>
              <p>非公開</p>
            <% else %>
              <p>公開</p>
            <% end %>
          </div>
        </div>
        <div class="photo">
          <% if diary.photo? %>
            <%= image_tag diary.photo.url %>
          <% end %>
        </div>
        <div class="diary">
          <div class="english_diary">
            <%= diary.english_diary %>
          </div>
          <% if diary.japanese_diary? %>
            <div class="japanese_diary">
              <%= diary.japanese_diary %>
            </div>
          <% end %>
        </div>
        <div class="link">
          <%= link_to "編集", edit_diary_path(diary.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
