<!DOCTYPE html>
<html>
  <head>
    <title>EnglishDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@oddcamp/cocoon-vanilla-js@1.1.3/index.min.js' %>
  </head>
  <body>
    <header>
      <h1>English Diary</h1>
      <nav id="global_navi">
        <ul>
          <% if user_signed_in? %>
            <li><% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url %>
              <% end %></li>
            <strong><%= link_to current_user.username, homes_show_path %></strong>
            <li><%= link_to "プロフィール変更", edit_profiles_path %></li>
            <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "サインアップ", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= button_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, data: { turbo_method: :post } %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="footer_navi">
        <small>&copy; 2022 English Diary</small>
      </div>
    </footer>
  </body>
</html>
